@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    ViewBag.Title = "Main App";
}

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<h1>Test Selection</h1>


<p>Please select an option below.</p>

<h1>Tests</h1>

<p><a href="~/App/Test">Quick Test</a></p>
<p>Run a quick test by providing input and output.</p>

<a href="~/App_Data/FullTest">Full Test</a>
<p>Load a saved test case and select a test to run.</p>

