@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    ViewBag.Title = "Main App";
}

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<h1>Welcome to the main app</h1>


<p>Please select an option below.</p>

<h1>Tests</h1>

<a href="~/App/Test">Chi Squared Test</a>

<a href="~/App_Data/LoadTest">Load Test</a>

<h1>Models</h1>

<a href="~/App/Logit">Logistic Regression Model</a>
